/* <<< COLORS >>>
Rich Black:        #0A122A
Pastel Brown:      #826754
Pastel Brownred:   #855556
Snow:              #FBFAF8
Almond             #E7DECD
*/

* {
  box-sizing: border-box;
}

body {
  margin-top: 100px;
  width: 100%;
  background-color: #E7DECD;
  margin-top: 0;
  margin-left: 0;
}

/* <<< NAVIGATION >>> */
.header-nav {
  width:100%;
  height:50px;
  background-color: #0A122A;
  position: relative;


}

.header-nav > img {
  height:50px;
  width: auto;
}

.header-nav > p {
  font-size: 50px;
  display: inline-block;
  color: white;
  margin-top: 0;
  position:absolute;
  right:10px;
  
}
/* <<< NAVIGATION >>> */

.back {
  height: 200px;
  width: 40%;
  background-color: grey;
  margin-left: 20%;

}

.box {
  height: 20%;
  width: 20%;
  background-color: white;

}

div div p {
  color:red;
  text-align: Center;


}

.box {
  display: inline-block;
  margin: 5%;

}

#faceback{
  height: 450px;
  width: 450px;
  background-color: black;
  position: relative;
  left: 550px;
}

#face{
  height: 400px;
  width: 400px;
  background-color: olivedrab;
  position: absolute;
  left: 25px;
  top: 25px;
}

#eye1 {
    height: 50px;
    width: 50px;
    background-color: black;
    position: absolute;
    top: 50px;
    left: 50px;
}

#eye2 {
    height: 50px;
    width: 50px;
    background-color: black;
    position:absolute;
    top: 50px;
    left: 300px;
}

#fold1{
  height: 50px;
  width: 50px;
  background-color: black;
  position: absolute;
  left: 50px;
  top: 250px;
}

#fold2{
  height: 50px;
  width: 50px;
  background-color: black;
  position: absolute;
  left: 300px;
  top: 250px;
}

#smirk{
  height: 50px;
  width: 300px;
  background-color: black;
  position: absolute;
  left: 50px;
  top: 300px;

}

.Liste{
  background-color: white


}
